.navbar {
  background-color: #b8d5b8;
  margin-bottom: 0;
}
.navbar .navbar-brand {
  color: #686868;
  font-size: 1.4em;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #686868;
}
.navbar .navbar-text {
  color: #686868;
}
.navbar .navbar-text a {
  color: #686868;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #686868; 
}
.navbar .navbar-nav .nav-link {
  color: #686868;
  border-radius: .25rem;
  margin: 0 0.25em;
  background-color: #b8d5b8;
  font-size: .8em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #686868;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #686868;
  background-color: #b8d5b8;
}
.navbar .navbar-toggle {
  border-color: #b8d5b8;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #b8d5b8;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #686868;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #686868;
}
.navbar .navbar-link {
  color: #686868;
  background-color: #b8d5b8;
}
.navbar .navbar-link:hover {
  color: #686868;
  background-color: #b8d5b8;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #686868;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #686868;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #686868;
    background-color: #b8d5b8;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #686868;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #686868;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #686868;
    background-color: #b8d5b8;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #686868;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #686868;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #686868;
    background-color: #b8d5b8;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #686868;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #686868;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #686868;
    background-color: #b8d5b8;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #686868;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #686868;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #686868;
  background-color: #b8d5b8;
}

.bg-1 { 
    background-color: #c2d1e0;
    color: #686868;
    padding: 0;
}

.bg-2 { 
    padding: 0;
}

.jumbotron{
  background-color: #c2d1e0;
  color: #686868;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #e5f3d6;

}

@font-face {
    font-family: pixelheart;
    src: url('assets/Acme-Regular.ttf');
    font-weight: 400;
    font-weight: normal;
}

* {
 font-size: 1.2em;
 font-family: pixelheart;
 margin-right: 0;
}

.form-group {
  font-size: .8em;
}