{% extends 'base.html' %}
{% block content %}


<body>
    <div class="container-fluid bg-1 text-center">
    {% if current_user.is_authenticated %}
        <h3>Hello zookeeper {{ name -}}!</h3>
    {% else %}
        <h3>Hello zookeeper!</h3>
    {% endif %}
    <img src="/static/assets/zookeeper.png" alt=":)" width="75">
    <p>Welcome to your zoo :)<p>
    <p>Choose an animal to work with</p>
    </div>
    <div class="container-fluid bg-2 text-center">
    {% for i in range(animals|count) %}
    
        {% if i % 4 == 0 %}
            <br>
        {% endif %}
        <a href="habitat/{{- animals[i] -}}"><img src='/static/animal_icon/{{- animals[i] -}}.png' height="128px"></a>
    {% endfor %}
    <br>
    </div>
</body>
    


{% endblock %}