<html>
    <head>
        <title>ZOO</title>
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" }>

    </head>
    <header>
         <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">ZOO</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    
                    {% if current_user.is_authenticated %}
                    <li><a class="nav-link" href="/logout">Log Out</a></li>
                    {% else %}
                    <li><a class="nav-link" href="/register">Register</a></li>
                    <li><a class="nav-link" href="/login">Log In</a></li>
                    {% endif %}
                    <!-- {{ url_for('static', filename='style.css')}} -->
                    
                </ul>
            </div>
        </nav> 
    </header>
    {% block content %}{% endblock %}
</html>